.sidebar{ 
    background-color: rgb(102, 84, 204);
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 20%;
    height: 100vh;
    float: left;
    float: bottom;
}

.Profile{
    text-align: center;
    
    }
img{
    margin-top: 0%;
    padding-top: 15px;
    border-radius: 30%;
   }
   section{
       text-align: center;
   }
.main{ margin-left: 20%;
    margin-right: 7%;
padding: 20px; 
text-align: justify;
background-color: rgb(198, 122, 248);

.HISTORIA LABORAL
    text-align: justify

}
*{
    margin:0;
    padding: 0;}
    *ul{
        font-family: 'Red Hat Display', sans-serif;
    }
ul,h1,h2, h3, p{list-style-type: none;
    color: rgb(37, 36, 36);
}

li{margin: 5px;
    padding: 5px;
    
}